*.csproj
*.sln
.DS_Store
.idea

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild*/
/[Ll]ogs/
/[Mm]emoryCaptures/
/UserSettings/
/Library/PackageCache/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
Library/PackageCache/


/builds/*
/images/*
/Shot-*.png

/Assets/GaussianAssets/*
/Assets/GaussianAssets.meta
/Assets/Models~/*
/Library/*
/Logs/*
/Temp/*
/UserSettings/*
/obj/*

/projects/**/Assets/GaussianAssets/*
/projects/**/Assets/GaussianAssets.meta
/projects/**/Assets/Models~/*
/projects/**/Library/*
/projects/**/Logs/*
/projects/**/Temp/*
/projects/**/UserSettings/*
/projects/**/obj/*
*.sln.DotSettings.user
/projects/GaussianExample-URP/.vs
/.vs
